[submodule "COSMObjectiveC"]
	path = COSMObjectiveC
	url = git@github.com:rc1/cosm-objective-c.git
[submodule "Libraries/AFNetworking"]
	path = Libraries/AFNetworking
	url = git@github.com:AFNetworking/AFNetworking.git
[submodule "Libraries/SocketRocket"]
	path = Libraries/SocketRocket
	url = git@github.com:square/SocketRocket.git
